body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: black;
}

p {
  margin: 0;
  line-height: 1.35;
}

.heading-wrapper,
.search-form,
.movies-wrapper {
  font-size: 1rem;
}

.heading-wrapper {
  background-color: black;
  background-image: url("/assets/header-bg.png");
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.5em;
}

.page-title {
  color: whitesmoke;
  font-size: 2rem;
  margin: 0;
}

.navigation-link {
  border: none;
  color: whitesmoke;
  text-decoration: none;
  font-size: 0.75rem;
}

.navigation-link:hover,
.navigation-link:focus {
  text-decoration: underline;
  color: lightgray;
}

.search-form {
  margin: -1em auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5em;
}

.search-bar {
  line-height: 2;
  border: 1px solid black;
  padding: 0 1em;
  flex-grow: 1;
  margin: 0;
}

.search-btn {
  border: 1px solid black;
  border-radius: 0;
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.64em 2.75em;
  background-color: white;
  margin: 0;
}

.empty-state-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 10em;
  padding: 0 1em;
}

.film-icon {
  width: 40px;
  height: 40px;
}

.no-results-wrapper {
  display: none;
  margin-top: 10em;
  padding: 0 1.5em;
}

.empty-state-text,
.no-results-text {
  color: #dfdddd;
  text-align: center;
}

.movies-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 1.5em;
}

.movie-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
}

.movie-item:not(:last-of-type) {
  border-bottom: 1px solid black;
}

.movie-poster {
  width: 80px;
  height: calc(80px * 1.489);
}

.column-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.top-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.movie-title {
  margin: 0;
  font-size: 1rem;
  display: inline;
}

.rating-container {
  display: inline-flex;
  align-items: center;
  gap: 0.1em;
}

.star-icon {
  width: 15px;
}

.movie-rating {
  margin: 0;
  display: inline;
  font-size: 0.825rem;
}

.movie-duration,
.movie-genres,
.movie-synopsis {
  font-size: 0.75rem;
}

.movie-duration {
  display: inline;
  margin-right: 0.5em;
}

.movie-genres {
  display: inline;
}

.toggle-watchlist-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 0.75em 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

.toggle-watchlist-button:hover,
.toggle-watchlist-button:focus {
  text-decoration: underline;
}

.toggle-icon {
  width: 20px;
  margin-right: 0.25em;
}

.link-to-search-icon {
    width: 20px;
  }

#link-to-search {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    gap: 0.5em;
    font-size: 1rem;
    cursor: pointer;
}

#link-to-search:hover, #link-to-search:focus {
    text-decoration: underline;
}

@media (min-width: 481px) {
  .heading-wrapper,
  .search-form,
  .movies-wrapper {
    font-size: 2rem;
  }

  .navigation-link {
    font-size: 1.5rem;
  }

  .search-form {
    margin: -0.75em auto 0;
  }

  .search-bar,
  .search-btn {
    font-size: 1.25rem;
  }

  .page-title {
    font-size: 3rem;
  }

  .empty-state-wrapper {
    margin-top: 15em;
  }
  
  .film-icon {
    width: 120px;
    height: 120px;
  }
  
  .no-results-wrapper {
    margin-top: 10em;
    padding: 0 10em;
  }
  
  .empty-state-text,
  .no-results-text {
    color: #dfdddd;
    text-align: center;
    font-size: 2rem;
  }

  .movie-poster {
    width: 120px;
    height: calc(120px * 1.489);
  }

  .movie-title {
    font-size: 1.5rem;
  }

  .star-icon {
    width: 20px;
  }

  .movie-rating {
    font-size: 1rem;
  }

  .movie-duration,
  .movie-genres,
  .movie-synopsis {
    font-size: 1rem;
  }

  .movie-item {
    justify-content: start;
    padding: 1em 0;
    margin: 0 auto;
  }

  .column-container {
    max-width: 420px;
  }

  .middle-container {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .toggle-watchlist-button {
    display: inline-flex;
    margin: 0 0 0 1em;
    font-size: 1rem;
  }

  .link-to-search-icon {
    width: 30px;
  }

  #link-to-search {
    font-size: 1.5rem;
  }
}


@media (min-width: 769px) {
  .heading-wrapper,
  .search-form,
  .movies-wrapper {
    font-size: 3rem;
  }

  .navigation-link {
    font-size: 2rem;
  }

  .search-form {
    max-width: 800px;
    margin: -0.75em auto 0;
  }

  .page-title {
    font-size: 3rem;
  }

  .empty-state-wrapper {
    margin-top: 5em;
  }
  
  .film-icon {
    width: 240px;
    height: 240px;
  }
  
  .empty-state-text,
  .no-results-text {
    color: #dfdddd;
    text-align: center;
    font-size: 2rem;
  }

  .movie-poster {
    width: 150px;
    height: calc(150px * 1.489);
  }

  .movie-title {
    font-size: 2rem;
  }

  .star-icon {
    width: 30px;
  }

  .movie-rating {
    font-size: 1.25rem;
  }

  .movie-duration,
  .movie-genres,
  .movie-synopsis {
    font-size: 1.25rem;
  }

  .movie-item {
    justify-content: start;
    padding: 1em 0;
    margin: 0 auto;
  }

  .column-container {
    max-width: 600px;
  }

  .toggle-watchlist-button {
    display: inline-flex;
    margin: 0 0 0 1em;
    font-size: 1.25rem;
  }
}

@media (min-width: 1920px) {
  .heading-wrapper,
  .search-form,
  .movies-wrapper {
    font-size: 4rem;
    padding-left: 5em;
    padding-right: 5em;
  }

  .navigation-link {
    font-size: 3rem;
  }

  .page-title {
    font-size: 5rem;
  }

  .search-bar, .search-btn {
    font-size: 2rem;
  }

  .empty-state-wrapper {
    margin-top: 12em;
  }
  
  .film-icon {
    width: 240px;
    height: 240px;
  }
  
  .empty-state-text,
  .no-results-text {
    color: #dfdddd;
    text-align: center;
    font-size: 3rem;
  }

  .column-container {
    max-width: 800px;
  }

  .movie-poster {
    width: 200px;
    height: calc(200px * 1.489);
  }

  .movie-title {
    font-size: 2.5rem;
  }

  .star-icon {
    width: 50px;
  }

  .movie-rating {
    font-size: 2rem;
  }

  .movie-duration,
  .movie-genres,
  .movie-synopsis {
    font-size: 2rem;
  }

  .toggle-icon {
    width: 40px;
  }

  .toggle-watchlist-button {
    font-size: 2rem;
  }

  .link-to-search-icon {
    width: 50px;
  }

  #link-to-search {
    font-size: 2rem;
  }
}
